html{
background-image: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
height:100%;
}
body{
color:white;
margin-top: 200px;
background-image: url('https://www.freepik.com/premium-photo/texture-fabric-are-two-tone-color-background_2159300.htm');
text-align: center}



